.block {
  min-width: 20%;
  display: flex;
  justify-content: space-around;
  padding: 1%;
  /* background-color: red; */
  box-shadow: 1px 2px 2px  rgba(0, 0, 0, .5);
  align-items: center;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.characters {
  height: 20%;
  width: 20%;
}
