.bar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rotText{
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(3, 168, 138, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.5rem;
  display: flex;
  align-items: flex-end;
  transform: rotate(270deg)
}

.titleBlock {
  width: 20%;
  height: 100%;
  column-gap: 15px;
  display: flex;
}

.title {
  padding: 1%;
  display: flex;
  font-size: 3rem;
  align-items: center;
}

.input {
  height: 3rem;
  border: none;
  padding-left: 3%;
  background-color: oklch(0.9824 0.0271 345);
  border-radius: 12px 0 0 12px;
}

.inputBlock {
  width: 40%;
  display: flex;
  align-items: center;
}

.button {
  height: 3rem;
  border-radius: 0 12px  12px 0;
}
