.body {
  display: flex;
  height: 100dvh;
  flex-direction: column;
  overflow-x: scroll;
  min-width: 100dvw;
  justify-content: center;
  place-items: center;
}

.picContainer {
  height: 100%;
  min-width: 1700px;
  background-image: url('../assets/images/waldoMuseum.webp');
  background-size: auto 100%;
  background-repeat: no-repeat;
}

#constrict {
  min-height: 80dvh;
  max-width: 90dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 95dvw;
  overflow: scroll;
}

.box {
  width: 100px;
  height: 100px;
  border: 8px solid yellow;
  border-radius: 10px;
}
