.body {
  display: flex;
  height: 100dvh;
  flex-direction: column;
  overflow-x: scroll;
  min-width: 100dvw;
  justify-content: center;
  place-items: center;
  position: relative;
}

.picContainer {
  height: 100%;
  min-width: 1700px;
  background-image: url('../assets/images/waldoMuseum.webp');
  background-size: auto 100%;
  background-repeat: no-repeat;
}

#constrict {
  min-height: 80dvh;
  max-width: 90dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 95dvw;
  overflow: scroll;
}

.box {
  width: 100px;
  height: 100px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, .5);
  border: 4px solid white;
  border-radius: 10px;
}

.time {
  font-size: 3rem;
  position: absolute;
  bottom: 10px;
  left: 10%;
}

@media screen and (max-width: 500px) {
  .time {
  bottom: 10%;
  }
}
