.body {
  display: flex;
  height: 100dvh;
  flex-direction: column;
  overflow-x: scroll;
  min-width: 100dvw;
  justify-content: center;
  place-items: center;
}

.picContainer {
  min-height: 80dvh;
  max-height: 80dvh;
  overflow: scroll;
  overflow-y: hidden;
  background-image: blue;
  place-content: center;
}

.picContainer img {
  min-width: 1150px;
  /* min-width: 100%; */
  max-width: 90dvw;
  min-height: 70dvh;
  white-space: nowrap;
  display: flex;
  overflow-x: scroll;
}

.box {
  width: 100px;
  height: 100px;
  border: 8px solid yellow;
  border-radius: 10px;
}
