.body {
  display: flex;
  height: 100dvh;
  flex-direction: column;
  overflow-x: scroll;
  min-width: 100dvw;
  justify-content: center;
  place-items: center;
}

.picContainer {
  height: 100%;
  min-width: 1700px;
  /* max-height: 80dvh; */
  /* overflow: scroll; */
  background-image: url('../assets/images/waldoMuseum.webp');
  /* background-color: red; */

  background-attachment: scroll local ;
  /* background-position: right 25%; */
  background-size: auto 100%;
  background-repeat: no-repeat;
  /* overflow-y: hidden; */
  /* place-content: center; */
}

#constrict {
  min-height: 80dvh;
  max-width: 90dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 95dvw;
  overflow: scroll;
  background-color: blue;
}

.picContainer img {
  /* min-width: 1150px; */
  /* min-width: 100%; */
  /* max-width: 90dvw; */
  min-height: 70dvh;
  max-height: 70dvh;
  min-width: 2000px;
  white-space: nowrap;
  /* display: flex; */
  overflow-x: scroll;
}

.box {
  width: 100px;
  height: 100px;
  border: 8px solid yellow;
  border-radius: 10px;
}
