.body {
  display: flex;
  height: 100dvh;
  flex-direction: column;
  overflow-x: scroll;
  min-width: 100dvw;
  justify-content: center;
  place-items: center;
}

.picContainer {
  min-height: 80dvh;
  max-height: 80dvh;
  /* max-width: 80dvw; */
  /* display: flex; */
  overflow: scroll;
  overflow-y: hidden;
  background-image: blue;
  place-content: center;
}

.picContainer img {
  /* min-height: 800px; */
  /* max-height: 80dvh; */
  min-width: 1150px;
  max-width: 90dvw;
  min-height: 70dvh;
  white-space: nowrap;
  display: flex;
  /* min-width: 100%; */
  overflow-x: scroll;
  /* object-fit: cover; */
}

.box {
  width: 100px;
  height: 100px;
  border: 8px solid yellow;
  border-radius: 10px;
}
